/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/mvnw.cmd
/mvnw
/.mvn/
/rocket-front/node_modules/
/rocket-front/dist/
/rocket-admin/src/main/resources/application-druid.yml
/rocket-admin/src/test/resources/
