<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gsein.system.mapper.RoleMapper">
    <sql id="baseGet">
        select r.id, r.name, r.description, r.is_deleted, r.created_time, r.updated_time
        from sys_role r
    </sql>
    <select id="getRolesByUserId" parameterType="integer" resultType="role">
        <include refid="baseGet"/>
        left join sys_user_role ur on r.id = ur.role_id
        where ur.user_id = #{userId}
        and r.is_deleted = 0
        and ur.is_deleted = 0
    </select>
    <select id="getById" parameterType="integer" resultType="role">
        <include refid="baseGet"/>
        where r.id = #{id} and r.is_deleted = 0
    </select>
    <insert id="save" parameterType="role" useGeneratedKeys="true">
        insert into sys_role (name, description)
        values (#{name}, #{description})
    </insert>

    <update id="update" parameterType="role">
        update sys_role
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            updated_time = current_timestamp()
        </set>
        where id = #{id} and is_deleted = 0
    </update>
    <update id="deleteById" parameterType="integer">
        update sys_role
        set is_deleted   = 1,
            updated_time = current_timestamp()
        where id = #{id}
          and is_deleted = 0
    </update>
</mapper>