<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gsein.system.mapper.RoleMenuMapper">
    <insert id="save" parameterType="roleMenu">
        insert into sys_role_menu (role_id, menu_id)
        values (#{roleId}, #{menuId})
    </insert>

    <update id="deleteByRoleId" parameterType="integer">
        update sys_role_menu
        set is_deleted   = 1,
            updated_time = current_timestamp()
        where role_id = #{roleId} and is_deleted = 0
    </update>
</mapper>