<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gsein.system.mapper.SystemUserMapper">
    <sql id="baseGet">
        select id,
               username,
               password,
               salt,
               nickname,
               gender,
               email,
               mobile,
               dept_id,
               status
        from sys_user
    </sql>
    <sql id="baseUpdate">
        update sys_user
        <set>
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="salt!=null and salt!=''">
                salt = #{salt},
            </if>
            <if test="nickname!=null and nickname!=''">
                nickname = #{nickname},
            </if>
            <if test="gender!=null">
                gender = #{gender},
            </if>
            <if test="email!=null and email!=''">
                email = #{email},
            </if>
            <if test="mobile!=null and mobile!=''">
                mobile = #{mobile},
            </if>
            <if test="deptId!=null">
                dept_id = #{deptId},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            updated_time = current_timestamp()
        </set>
    </sql>

    <!--通过用户名获取用户-->
    <select id="getByUsername" resultType="systemUser">
        <include refid="baseGet"/>
        where username = #{username}
        and is_deleted = 0
    </select>

    <!--通过ID获取用户-->
    <select id="getById" resultType="systemUser">
        <include refid="baseGet"/>
        where id = #{id}
        and is_deleted = 0
    </select>

    <!-- 根据条件查询 -->
    <select id="getByConditions" parameterType="map" resultType="systemUser">
        <include refid="baseGet"/>
        where is_deleted = 0
    </select>

    <!--根据用户名修改系统用户-->
    <update id="updateByUsername" parameterType="systemUser">
        <include refid="baseUpdate"/>
        where username = #{username} and is_deleted = 0
    </update>

    <!--根据ID删除用户-->
    <update id="deleteById" parameterType="integer">
        update sys_user
        set is_deleted   = 1,
            updated_time = current_timestamp()
        where id = #{id} and is_deleted = 0
    </update>

    <!--更新系统用户信息-->
    <insert id="save" parameterType="systemUser" useGeneratedKeys="true">
        insert into sys_user (username, password, salt, nickname, gender, email, mobile, dept_id)
        values (#{username}, #{password}, #{salt}, #{nickname}, #{gender}, #{email}, #{mobile}, #{deptId})
    </insert>


</mapper>

